<nav class="navigation">
  <mat-nav-list>
    @if (activeSegment() === 'cloudberry') {
      <div matSubheader class="navigation__group">Cloudberry</div>
      @for (item of cloudberryNavItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="navigation__link--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    }

    @if (activeSegment() === 'profile') {
      <div matSubheader class="navigation__group">Personal Profile</div>
      @for (item of personalProfileNavItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="navigation__link--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    }
  </mat-nav-list>
</nav>
